*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-center{
    justify-content: center;
}
.col-3{
    width: 33.3333%;
    padding: 12px;
}
.w-100{
    width: 100%;
    border: 2px solid crimson;
    padding: 20px;
}
img{
    width: 100%;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.text-center{
    text-align: center;
}